*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: rgba(255, 255, 255, 0.87);
  --indigo-dark: #0f172a;
  --indigo-main: #1e293b;
  --tulip-pink: #f43f5e;
  --tulip-orange: #fb923c;
  --tulip-gradient: linear-gradient(
    135deg,
    var(--tulip-pink) 0%,
    var(var(--tulip-orange) 100%)
  );

  --font-main: "Inter", sans-serif;
  --font-code: "Fira Code", monospace;

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}

body {
  /* min-width: 100%; */
  min-height: 100vh;
  background-color: var(--indigo-main);
  color: var(--color-white);
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
}

code {
  font-family: var(--font-code);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius-lg);
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--tulip-gradient);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
